<h2 class="main-title">Sign In</h2>
<p class="main-text"><%= notice %></p>
<ul class="main-list narrow">
  <%= form_tag login_path %>
    <li class="main-list-item"><%= label_tag :username %></li>
    <li class="main-list-item"><%= text_field_tag :username %></li>
    <li class="main-list-item"><%= label_tag :password %></li>
    <li class="main-list-item"><%= password_field_tag :password %></li>
    <li class="main-list-item"><%= submit_tag "Login", class:"btn" %></li>
</ul>
