<h2 class="main-title"><%= @event.name %>
</h2>
<p class="main-text"><%= @event.date_formated %></p>
<ul class="main-list">
  <li class="main-list-item">
    Latitude: <%= @event.lat %>
  </li>
  <li class="main-list-item">
    Longitude: <%= @event.lng %>
  </li>
  <li class="main-list-item">
    Latitude: <%= @event.lat %>
  </li>
  <li class="main-list-item">
    Latitude: <%= @event.lat %>
  </li>
  <li class="main-list-item">
    Latitude: <%= @event.lat %>
  </li>
  <li class="main-list-item">
    Country: <%= @event.country.name unless @event.country.nil? %>
  </li>
  <li class="main-list-item">
    Unit: <%= @event.unit.name unless @event.unit.nil? %>
  </li>
  <li class="main-list-item">
    Operation: <%= @event.operation.name unless @event.operation.nil? %>
  </li>
  <li class="main-list-item">
    Event Type: <%= @event.event_type.name unless @event.event_type.nil? %>
  </li>
</ul>
