<%= form_for(@unit_class) do |f| %>
  <% if @unit_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit_class.errors.count, "error") %> prohibited this unit_class from being saved:</h2>

      <ul>
      <% @unit_class.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
