<h1>Listing countries</h1>

<table class="table table-striped">
  <thead>
    <th>Country Name</th>
    <th></th>
    <th></th>
  </thead>

<% @countries.each do |country| %>
  <tr>
    <td><%= country.name %></td>
    <td><%= link_to 'Show', country, class:"btn" %> <%= link_to 'Edit', edit_country_path(country), class:"btn btn-warning" %> <%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Country', new_country_path %>
