<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Country</th>
    <th>Type</th>
  </thead>

<% @units.each do |unit| %>
  <tr>
    <td><%= unit.name %></td>
    <td><%= unit.country.name unless unit.country == nil %> </td>
    <td><%= unit.unit_type.name unless unit.unit_type == nil %>
    <td><%= link_to 'Show', unit %> <%= link_to 'Edit', edit_unit_path(unit) %> <%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unit', new_unit_path %>
