<h1>Listing campaigns</h1>
<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Operations</th>
  </thead>

<% @campaigns.each do |campaign| %>
  <tr>
    <td><%= link_to campaign.name, campaign %></td>
    <td><%= campaign.operations.count %></td>

    <td>
    <%= link_to 'Edit', edit_campaign_path(campaign), class:"btn btn-warning" %>
    <%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Campaign', new_campaign_path, class:"btn btn-success" %>

