<h1><%= @campaign.name %></h1>

<div class="highlight">
  <h4>Operations</h4>
    <% @operations.each do |operation| %>
      <a data-toggle="collapse" data-target="#operation_accordion_<%= operation.id %>">
        <%= operation.name %>
      </a>
      <div id="operation_accordion_<%= operation.id %>" class="collapse">
        <%=  raw Wikipedia.find('Operation Market Garden').sanitized_content.slice(0..285) %>...</p>
        <%= link_to 'Go to =>', operation %>
      </div>
    <% end %>
</div>
