<h1><%= @campaign.name %></h1>

<div class="highlight">
  <h4>Operations</h4>
    <% @operations.each do |operation| %>
      <a data-toggle="collapse" data-target="#operation_accordion_<%= operation.id %>">
        <%= operation.name %> - <%= operation.date_formated(operation.start_date) %>
      </a>
      <div id="operation_accordion_<%= operation.id %>" class="collapse">
        <%= operation.description %><br>
        <%= link_to 'Go to =>', operation %>
      </div>
    <% end %>
</div>
