<!DOCTYPE html>
<html>
<head>
  <title>WWII</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="ww2-map">
    <% #outputs the necessary scripts for gmaps4rails gem %>
    <%= gmaps( "markers" =>
        {
          "data" => @markers
        }
    ) %>
  </div>
  <div id="main" class="container">
    <nav>
      <%= link_to "Campaigns", campaigns_path %> |
      <%= link_to "Operations", operations_path %> |
      <%= link_to "Events", events_path %> |
      <%= link_to "Countries", countries_path %> |
      <%= link_to "Units", units_path %>
    </nav>
    <div class="row">
      <%= yield :head %>
    </div>
  </div>
  <%= yield %>
  <%= yield :scripts %></body>
</html>
