<!DOCTYPE html>
<html>
<head>
  <title>Wwii</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- outputs the necessary scripts for gmaps4rails gem -->
<%= yield :scripts %>
</body>
</html>
