<!DOCTYPE html>
<html>
<head>
  <title>WWII</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "//fonts.googleapis.com/css?family=Montserrat:400,700|Gentium+Book+Basic", :media => "all" %>
  <%= stylesheet_link_tag  "http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if authorized? %>
    <div class="row-fluid">
      <nav class="navbar navbar-inverse navbar-fixed-top span12">
        <div class="navbar-inner">
          <div id="primary-menu" class="nav-collapse collapse span8 offset4">
            <%= link_to "Campaigns", campaigns_path %> |
            <%= link_to "Operations", operations_path %> |
            <%= link_to "Events", events_path %> |
            <%= link_to "Countries", countries_path %> |
            <%= link_to "Units", units_path %> |
            <%= link_to "Event Types", event_types_path %> |
            <%= link_to "Logout", logout_url, method:"delete" %>
          </div>
        </div>
      </nav>
    </div>
  <% end %>
  <% if @controller == "events" && @action == "edit" %>
    <%= gmaps("markers" => {"data" => @markers, "options"=>{"draggable"=>true, "do_clustering"=>false}}) %>
  <% else %>
    <%= gmaps("markers" => {"data" => @markers, "options"=>{"do_clustering"=>true}}) %>
  <% end %>

  <div id="main">
    <%= yield %>
  </div>
  <%= yield :slider %>
  <%= yield :scripts %>
  <%= yield :scripts_callback %>
</body>
</html>
