<!DOCTYPE html>
<html>
<head>
  <title>WWII</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "//fonts.googleapis.com/css?family=Montserrat:400,700|Gentium+Book+Basic", :media => "all" %>
  <%= stylesheet_link_tag    "//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-39485921-1', 'waratlas.org');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div id="primary-menu">
    <% if authorized? %>
      <%= link_to "Campaigns", campaigns_path, class:"primary-menu-link" %> |
      <%= link_to "Operations", operations_path, class:"primary-menu-link" %> |
      <%= link_to "Events", events_path, class:"primary-menu-link" %> |
      <%= link_to "Countries", countries_path, class:"primary-menu-link" %> |
      <%= link_to "Units", units_path, class:"primary-menu-link" %> |
      <%= link_to "Icons", icons_path, class:"primary-menu-link" %> |
      <%= link_to "Event Types", event_types_path, class:"primary-menu-link" %> |
      <%= link_to "Users", users_path, class:"primary-menu-link" %> |
      <%= link_to "Logout", logout_url, method:"delete", class:"primary-menu-link" %>
    <% else %>
      <%= link_to "Campaigns", campaigns_path, class:"primary-menu-link" %>
      <%= link_to "Operations", operations_path, class:"primary-menu-link" %>
      <%= link_to "Countries", countries_path, class:"primary-menu-link" %>
    <% end %>
  </div>
  <% if @controller === "events" && @action === "edit" %>
    <%= gmaps("markers" => {"data" => @markers, "options"=>{"draggable"=>true, "do_clustering"=>false}}) %>
  <% elsif @controller === "operations" %>
    <%= gmaps("markers" => {"data" => @markers, "options"=>{"draggable"=>true, "do_clustering"=>false, "zoom" => 7 }}) %>
  <% else %>
    <%= gmaps("markers" => {"data" => @markers, "options"=>{"do_clustering"=>true}}) %>
  <% end %>

  <div id="main">
    <%= yield %>
  </div>

  <script type="text/html" class="ww_template" id="loader">
    <div class="loader-container">
      <img class="loader" src="/assets/main-loader.gif" alt="Loading" />
    </div>
  </script>

  <%= yield :scripts %>
  <%= yield :scripts_callback %>
  <%= yield :slider %>

  <script>
  var i;

  for ( i = 0; i < ww.initQueue.length; i++ ) {
    ww.initQueue[ i ]();
  }

  for ( i = 0; i < ww.queueAtEnd.length; i++ ) {
    ww.queueAtEnd[ i ]();
  }
  </script>
