<%= form_for(@operation) do |f| %>
    <div>
      <%= f.text_field :name, :placeholder => 'Operation Name' %>
      <%= f.label :description %>
      <%= f.text_area :description %>
      <%= f.label :start_date %>
      <%= f.date_select :start_date, start_year: 1939,end_year: 1949, default:nil, include_blank:true %>
      <%= f.label :end_date %>
      <%= f.date_select :end_date, start_year:1939,end_year:1949, default:nil, include_blank:true %>
      <%= f.label :campaign_id %>
      <%= f.collection_select :campaign_id, Campaign.all, :id, :name,default:nil, include_blank:true %>
    </div>
    <div>
      <%= f.submit class:"btn" %>
    </div>
<% end %>
