<h2 class="main-title">
  <!-- Operation --> <%= @operation.name %>
</h2>
<div class="main-container">
  <p class="main-text">
    <%= @operation.start_date.strftime('%a, %b %e %Y') unless @operation.start_date.nil? %>
    <%= " to "+ @operation.end_date.strftime('%a, %b %e %Y') unless @operation.end_date.nil? %>
  </p>
  <%= render "wiki/full", wiki:@wiki %>
  <%= render "events/event_list" %>
</div>

<%= render 'date_slider' %>
