<h2 class="main-title">
  Operation <%= @operation.name %></h2>
  <p class="main-text">
    <%= @operation.start_date.strftime('%a, %b %e %Y') unless @operation.start_date.nil? %><%= " to "+ @operation.end_date.strftime('%a, %b %e %Y') unless @operation.end_date.nil? %></p>
<div id="operations">
  <div class="wiki">
    <%= raw link_to_pages(@wiki.full_text, @operation.id) %>
  </div>
  <ul class="main-list" id="markers_list">

  </ul>

 </div>

<%= render 'date_slider', :operation=>@operation %>

