<p id="notice"><%= notice %></p>
<h1>
  Operation <%= @operation.name %><br>
  <small><%= @operation.start_date.strftime('%a, %b %e %Y') unless @operation.start_date.nil? %>  <%= @operation.end_date.strftime('%a, %b %e %Y') unless @operation.end_date.nil? %></small>
</h1>
<div class="span3">
  <%= @operation.description %>
</div>
<div class="span3">

</div>
